h1, 
h2, 
h3, 
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  background-image: url("https://user-images.githubusercontent.com/90009180/132586405-4ba97c37-496a-41f3-b445-e099d2676cbe.png");
  text-align: center;
  font-size: 100px;
  color: #3a3b3c;
}

.item h2 {
  font-size: 32px;
  color: white;
}

.price {
  font-weight: bold;
  color: black;
}

#brush {
  background-color: #000000;
}

#frame {
  background-color: yellow;
}

#paint {
  background-color: skyblue;
}
